.file-preview {
  &-image {
    object-fit: contain;
    max-height: 80vh;
    min-width: 50vw;
  }

  &-documents {
    min-width: 50vw;
    min-height: 80vh;
    object-fit: contain;
    border-color: transparent;
  }
}