.bg {
  &-secondary {
    background-color: var(--cv-secondary);
  }
  &-warning {
    background-color: var(--cv-warning);
  }
  &-success {
    background-color: var(--cv-success);
  }
  &-danger {
    background-color: var(--cv-danger);
  }
  &-primary {
    background-color: var(--cv-primary);
  }
  &-tertiary {
    background-color: var(--cv-bg-secondary)
  }
  &-light {
    background-color: var(--cv-light);
  }
}