.bg {
  &-secondary {
    background-color: var(--cv-secondary);
  }
  &-warning {
    background-color: var(--cv-warning);
  }
  &-success {
    background-color: var(--cv-success);
  }
  &-danger {
    background-color: var(--cv-danger);
  }

  &-light {
    background-color: var(--cv-bg-secondary)
  }
}