.flex {
  &-auto {
    flex: 1 1 auto;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-row {
    flex-direction: row;
  }

  &-col {
    flex-direction: column;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-col-reverse {
    flex-direction: column-reverse;
  }

  &-1 {
    flex: 1 1 0%;
  }
}