.form-control {
  &_effect {
    opacity: var(--cv-inactive-opacity);

    &-hover {
      &:hover, &:focus, &:active {
        opacity: var(--cv-default-opacity);
      }
    }
  }
}

.hover-container {
  .hover-content {
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    .hover-content {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
