@mixin responsive-overflow-by-direction($direction: 'both') {
  @media (hover: hover) {
    overflow-#{$direction}: hidden;

    &:hover {
      overflow-#{$direction}: auto !important;
    }
  }

  @media (hover: none) {
    overflow-#{$direction}: auto !important;
  }
}

@mixin responsive-overflow() {
  @media (hover: hover) {
    overflow: hidden;

    &:hover {
      overflow: auto !important;
    }
  }

  @media (hover: none) {
    overflow: auto !important;
  }
}

.overflow-auto      { overflow: auto; }
.overflow-hidden    { overflow: hidden; }
.overflow-visible   { overflow: visible; }
.overflow-scroll    { overflow: scroll; }

.overflow-x-auto    { overflow-x: auto; }
.overflow-y-auto    { overflow-y: auto !important; }
.overflow-x-hidden  { overflow-x: hidden; }
.overflow-y-hidden  { overflow-y: hidden; }
.overflow-x-visible { overflow-x: visible; }
.overflow-y-visible { overflow-y: visible; }
.overflow-x-scroll  { overflow-x: scroll; }
.overflow-y-scroll  { overflow-y: scroll; }

.overflow-y-container {
  position: relative;
  scrollbar-gutter: stable;
  scrollbar-width: thin;

  @include responsive-overflow-by-direction('y');
}

.overflow-y-container-no-gutter {
  position: relative;
  scrollbar-gutter: unset;
  scrollbar-width: thin;

  @include responsive-overflow-by-direction('x');
}

.overflow-x-container {
  overflow: hidden;
  position: relative;
  scrollbar-gutter: stable;
  scrollbar-width: thin;

  @include responsive-overflow-by-direction('x');
}

.overflow-container {
  overflow: hidden;
  position: relative;
  scrollbar-gutter: stable;
  scrollbar-width: thin;

  @include responsive-overflow();
}
