:root {
  --cv-base: #333333;
  --cv-light: #ffffff;
  --cv-dark: #555555;

  --cv-primary: #007bff;
  --cv-secondary: #6c757d;

  --cv-warning: #ffc107;
  --cv-success: #28a745;
  --cv-danger: #dc3545;
  --cv-error: #dc3545;
  --cv-info: #138496;

  --cv-bg-secondary: #e1e1e1;

  --cv-inactive-opacity: 0.85;
  --cv-default-opacity: 1;
  --cv-disabled-opacity: 0.75;

  --text-input-default-border-color: #d5d5d5;
  --text-input-default-text-color: --cv-base;
  --text-input-default-bg-color: #e5e5e5;

  --text-input-error-border-color: #d73038;
  --text-input-error-text-color: --cv-danger;
  --text-input-error-bg-color: #e4e4e4;
  --text-input-error-outline-color: --cv-danger;
}
