:root {
  --cv-base: #222222;
  --cv-light: #ffffff;
  --cv-dark: #343a40;

  --cv-primary: #007bff;
  --cv-secondary: #6c757d;

  --cv-warning: #ffc107;
  --cv-success: #28a745;
  --cv-danger: #dc3545;
  --cv-error: #dc3545;
  --cv-info: #138496;
}
