:root {
  --cv-base: #333333;
  --cv-light: #ffffff;
  --cv-dark: #555555;

  --cv-primary: #209CEE;
  --cv-secondary: #6c757d;

  --cv-warning: #ffc107;
  --cv-success: #28a745;
  --cv-danger: #dc3545;
  --cv-error: #dc3545;
  --cv-info: #138496;

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  --cv-bg-secondary: #e1e1e1;

  --cv-inactive-opacity: 0.85;
  --cv-default-opacity: 1;
  --cv-disabled-opacity: 0.75;

  --text-input-default-border-color: #d5d5d5;
  --text-input-default-text-color: --cv-base;
  --text-input-default-bg-color: #e5e5e5;

  --text-input-error-border-color: #d73038;
  --text-input-error-text-color: --cv-danger;
  --text-input-error-bg-color: #e4e4e4;
  --text-input-error-outline-color: --cv-danger;
}
