@use "./shared/variables.scss";

@use "./shared/color-schema.scss";
@use "./shared/background.scss";
@use "./shared/border-radius.scss";
@use "./shared/color.scss";
@use "./shared/default.scss";
@use "./shared/dimensions.scss";
@use "./shared/display.scss";
@use "./shared/margin.scss";
@use "./shared/padding.scss";
@use "./shared/text.scss";
@use "./shared/cursor.scss";
@use "./shared/flex.scss";
@use "./shared/overflow.scss";
@use "./shared/width.scss";
@use "./shared/position.scss";
@use "./shared/images.scss";
@use "./shared/animations.scss";
@use "./shared/image.scss";

@use "./shared/button.scss";
@use "./shared/form.scss";
@use "./shared/resize.scss";
@use "./shared/uiw-md-editor.scss";

body,
html {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--cv-base);
}

.root {
  height: 100%;
  width: 100%;
  background: #fff;
  color-scheme: light;
}
