.form-container {
  padding: 0.75rem;
  background: var(--form-container-background);
  color: var(--form-container-text-color);
  display: flex;
  flex-direction: var(--form-container-direction);
  gap: var(--form-container-space);
  border-radius: var(--form-container-box-radius);
  text-align: left;
  justify-content: var(--form-container-items-alignment);
}