.user-avatar {
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--cv-dark);
  background-color: var(--cv-tertiary);

  width: var(--cv-avatar-size);
  height: var(--cv-avatar-size);
}
