.react-datepicker__input-container {
--text-input-border-color: var(--text-input-default-border-color);
    --text-input-text-color: var(--text-input-default-text-color);
    --text-input-outline-color: transparent;
    --text-input-background: var(--text-input-default-bg-color);
}